body {
    /* Image from: https://www.freepik.com/free-photo/group-people-enjoying-holi-color_4484173.htm */
    background-image: url('./images/festival-backgound-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; /* Prevents blank space around image */
    background-size: cover;
    background-position: center;
}

.menu {
    width: 80%;
    background-color: rgb(235, 225, 230, 0.35);
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

h1, h2, p {
    text-align: center;
}

.item p {
    display: inline-block;
}

.time {
    text-align: left;
    width: 25%;
}

.artist {
    text-align: center;
    width: 50%
}

.stage {
    text-align: right;
    width: 25%
}

/* FOOTER */

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: blueviolet;
}