body {
    /* Image from: https://www.freepik.com/free-photo/group-people-enjoying-holi-color_4484173.htm */
    background-image: url('./images/festival-backgound-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; /* Prevents blank space around image */
    background-size: cover;
    background-position: center;
    font-family: Copperplate Gothic Light, sans-serif;
}

.menu {
    width: 80%;
    background-color: rgb(235, 225, 230, 0.35);
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.time {
    text-align: left;
    font-size: 18px;
    width: 25%;
}

.artist {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 50%;
}

.stage {
    text-align: right;
    font-size: 18px;
    width: 25%
}

/* FOOTER */

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: blueviolet;
}