body {
    /*
        Image from: https://www.freepik.com/free-photo/group-people-enjoying-holi-color_4484173.htm
        To-do: Credit image on website
    */
    background-image: url('./images/festival-backgound-image.jpg');
}

.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, p {
    text-align: center;
}